const webpack = require('webpack');
require('wavesurfer.js');
require('wavesurfer.js/dist/plugin/wavesurfer.timeline.min.js');
require('wavesurfer.js/dist/plugin/wavesurfer.regions.min.js');
require('wavesurfer.js/dist/plugin/wavesurfer.minimap.min.js');

module.exports = {
    module: {
      rules: [
        {
          test: /\.(js|jsx)$/,
          exclude: /node_modules/,
        }
      ],
    },
    // output: {
    //     path: path.resolve(__dirname, '..', 'lib')
    // },
    // resolve: {
    //     extensions: ['.js', '.jsx']
    // },
    plugins: [
        new webpack.ProvidePlugin({
          WaveSurfer: 'wavesurfer.js'
        })
    ],
    resolve: {
        alias: {
          wavesurfer: require.resolve('wavesurfer.js')
        }
    },
  };